<div class="container">
  <div class="row mt-5">
    <div class="col-3">
      <button class="btn btn-primary" routerLink="/roles/create"><span class="bi bi-plus">Rôle</span></button>
    </div>
  </div>
  <div class="row mt-5" *ngIf="roles !== undefined">
    <h1>Rôles</h1>
    <label for="selectRoles"> Permissions for : <select [name]="role" (change)="handlePermissions($event)" name="selectRoles" id="selectRoles" class="form-select">
      <option value="" disabled selected>Choose role</option>
      <option [value]="role.name" *ngFor="let role of roles">{{role.name}}</option>
    </select>
    </label>
  </div>

  <div class="row" *ngIf="permissions.length > 0">
    <table class="table">
      <thead>
        <tr><td>Permission</td><td>Allow</td></tr>
      </thead>
      <tbody>
      <tr *ngFor="let perm of permissions">
        <td>{{perm.name}}</td>
        <td><input type="checkbox" [checked]="perm?.is_allowed === true"></td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="row">
    <div class="col-2 mx-auto mb-5">
      <button class="btn btn-primary"><span class="bi bi-save"></span> Save</button>
    </div>
  </div>

</div>
